<%= render 'header' %>

<main>
  <div class="container">
    <section>
      <p class="paragraph">
        Austin cronut kale chips quinoa retro subway tile. Kinfolk organic shabby
        chic craft beer. Schlitz woke slow-carb, kinfolk church-key celiac four
        dollar toast hexagon health goth readymade kogi hammock gentrify. Heirloom
        pop-up trust fund aesthetic. Prism next level affogato, gastropub freegan
        put a bird on it fashion axe hella sustainable single-origin coffee actually
        seitan salvia. Mlkshk hoodie slow-carb chartreuse everyday carry, next level
        fingerstache brooklyn. Banjo tacos post-ironic, keytar organic asymmetrical
        fashion axe.
      </p>

      <p class="paragraph">
        Squid fingerstache crucifix, vaporware microdosing brunch la croix
        williamsburg cornhole post-ironic edison bulb listicle. Aesthetic brooklyn
        la croix air plant, trust fund twee letterpress pinterest kinfolk enamel
        pin sartorial lumbersexual kitsch. Whatever beard brunch you probably
        haven't heard of them twee post-ironic polaroid, yr freegan retro. VHS
        pinterest yuccie, selfies messenger bag twee vinyl la croix tumeric plaid.
        Everyday carry affogato bicycle rights, listicle franzen celiac meggings
        pitchfork cray. Put a bird on it vaporware cred, williamsburg cold-pressed
        selvage 8-bit hell of shoreditch. Tumblr kombucha coloring book fingerstache
        try-hard.
      </p>
      <%= link_to 'View characters', {controller: 'characters'}, class: "mybtn btn-primary" %>
      <%= link_to 'Add a new character', new_character_path, class: "mybtn btn-primary" %>
    </section>
  </div>
</main>
