<header>
  <div class="header-row">
    <div class="header-nav">
      <!-- <a href="#" class="menu-button" id="menuButton">
        <span class="burger-icon"></span>
      </a> -->

      <h1 class="super-heading">
        <%= link_to 'Dook Boys Management', '/' %>
      </h1>
      <p class="subheading">The many characters of Bones &amp; Co.</p>
    </div>
  </div>
</header>

<main>
  <div class="container">
    <section>
      <%= react_component 'Characters', { data: @characters } %>
    </section>
  </div>
</main>
