.menu-button {
  display: inline-block;
  padding: $base-line-height;
  float: left;
}
//
// .burger-icon {
//   @include burger(30px, 3px, 9px, display-color('blue'));
// }
//
// .menu-button.is-active .burger-icon {
//   @include burger-to-cross;
// }

.mybtn {
  display: inline-block;
  @include type-setting(-1);
  appearance: none;
  padding: 0 1rem;
  margin-right: $base-line-height * 0.5;
  @include transition(all 0.3s);
}

.btn-primary {
  background-color: display-color('maastricht-blue');
  color: display-color('baby-powder');
  border: solid 1px display-color('maastricht-blue');
  &:hover {
    background-color: display-color('baby-powder');
    color: display-color('maastricht-blue');
  }
}
.btn-secondary {
  background: none;
  color: display-color('max-bluegreen');
  border: solid 1px display-color('max-bluegreen');
  &:hover {
    background-color: display-color('max-bluegreen');
    color: display-color('baby-powder');
  }
}
.btn-danger {
  background-color: display-color('rose-madder');
  color: display-color('baby-powder');
  border: solid 1px display-color('rose-madder');
  &:hover {
    background: none;
    color: display-color('rose-madder');
  }
}
