/*============================================================================
  #forms
==============================================================================*/

form{
  margin:0;

  input:not(.button):not(.linkButton):not([type="radio"]):not([type="checkbox"]):not(.qtyInput),
  input[type='textarea'], textarea{
    @include type-setting(-1);
    border: solid 1px display-color('max-bluegreen');
    padding: 0 1rem;
    outline:none;
    margin:0 0 $base-line-height;
    -webkit-appearance:none;

    &:not(textarea){
      padding: 0 1rem;
    }
    @include placeholder {
      color: display-color('max-bluegreen');
    }
    &:focus{
      border-color: display-color('maastricht-blue');
      outline: 0;
      box-shadow: none;
    }
  }

  p label{
    margin:0 10px 0 0;
  }

  textarea{
    padding:10px;
  }
}

.formWrap{
  &.contactForm{
   padding-top:40px;
  }

  .button{
    width:100%;
  }

  input{
    &[type="checkbox"]{
      margin:0;
      vertical-align: middle;
    }
  }

  form{
    a{
      display:block;
      color: display-color('maastricht-blue');
      margin:20px auto 0;
    }
  }

  label{
    &:not(.showLabel){
      text-align:left;
      margin:0 0 10px;
      display:none;
    }

    .showLabel{
      display:inline-block;
      vertical-align:middle;
      margin:0 0 0 10px;
    }
  }

  .pagination{
    padding:0;
    span:not(:last-child){
      margin:0 10px 0 0;
    }
  }

  .errors{
    color:red;
    padding:0 0 20px;
  }
}

.addressLabel{
  max-width:350px;
  border-bottom:1px solid display-color('max-bluegreen');
  margin:0 auto 20px auto;
}

input.qtyInput{
  width:40px;
  height:40px;
  border:1px solid display-color('max-bluegreen');
  padding:2px 0px 2px 4px;
  margin:0 auto;
  display:block;
  text-align:center;
  outline:none;
  &:focus{
    ::-webkit-inner-spin-button {
  opacity: 1
    }
  }
}

.new_tale, .edit_character, .new_character{
  textarea{
    @include type-setting(-1);
  }
  input[type="submit"]{
    display: inline-block;
    @include type-setting(-1);
    appearance: none;
    background-color: display-color('max-bluegreen');
    color: display-color('maastricht-blue');
    border: solid 1px display-color('max-bluegreen');
    padding: 0 1rem;
    margin-right: $base-line-height * 0.5;
    @include transition(all 0.3s);
    &:hover {
      background: none;
      color: display-color('maastricht-blue');
    }
  }
}

.form-control {
  outline: 0;
}
