/*============================================================================
  #forms
==============================================================================*/

form{
  margin:0;

  textarea,
  textarea.form-control,
  select,
  input[type="date"],
  input[type="datetime"],
  input[type="datetime-local"],
  input[type="email"],
  input[type="month"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="text"],
  input[type="time"],
  input[type="url"],
  input[type="week"] {
    @include type-setting(-1);
    border: solid 1px display-color('max-bluegreen');
    padding: 0 1rem;
    box-shadow: none;
    margin: 0 1vw 0.5vh 0;
    border-radius: 0;

    @include placeholder {
      color: display-color('max-bluegreen');
    }
    &:focus{
      border-color: display-color('maastricht-blue');
      outline: 0;
      box-shadow: none;
    }
  }

  p label{
    margin:0 10px 0 0;
  }

  textarea {
    padding:10px;
  }
}

.formWrap{
  &.contactForm{
   padding-top:40px;
  }

  .button{
    width:100%;
  }

  input{
    &[type="checkbox"]{
      margin:0;
      vertical-align: middle;
    }
  }

  form{
    a{
      display:block;
      color: display-color('maastricht-blue');
      margin:20px auto 0;
    }
  }
}

input.qtyInput{
  width:40px;
  height:40px;
  border:1px solid display-color('max-bluegreen');
  padding:2px 0px 2px 4px;
  margin:0 auto;
  display:block;
  text-align:center;
  outline:none;
  &:focus{
    ::-webkit-inner-spin-button {
      opacity: 1;
    }
  }
}

.edit_character, .new_character{
  .form-group {
    margin: 0 1vw $base-line-height * 0.5 0;
    font-size: 85%;
  }
  .bio { width: 81vw; }
  .large { width: 30vw; }
  .medium { width: 12vw; }
  .small { width: 6vw; }
}
