$display-font: 'Cinzel Decorative', cursive;

// Text Font weights
$regular: 200;
$bold: 600;

// Display fonts
.super-heading {
  @include type-setting(3);
  font-family: $display-font;
  color: display-color('maastricht-blue');
  font-weight: $bold;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
  padding: $base-line-height * 0.5 0 0 0;
  span.light {
    font-weight: $regular;
    letter-spacing: 0.25rem;
  }
}

.subheading {
  @include type-setting(-1);
  font-weight: $regular;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  text-align: center;
}

.heading-1 {
  @include type-setting(2);
  font-family: $display-font;
  font-weight: $regular;
  text-transform: uppercase;
  letter-spacing: 0.056rem;
  text-align: center;
  width: 70%;
  margin: $base-line-height auto;
}

.heading-2 {
  @include type-setting(1);
  font-weight: $bold;
  font-style: italic;
}

.item-name {
  @include type-setting(-1);
  font-weight: $regular;
  letter-spacing: 0.187rem;
}

.paragraph {
  @include type-setting(0);
  font-weight: $regular;
  margin: 0 auto $base-line-height * 0.5 auto;
}

.abilities {
  @include type-setting(0);
  font-weight: $regular;
}

.bold {
  font-weight: $bold;
}

.italic {
  font-style: italic;
}

.emphasize {
  font-weight: $bold;
  font-style: italic;
}
